.home { font-size: 2em; padding: 60px; }
* {
  box-sizing: border-box;
}
body {
  font-family: 'Spoqa Han Sans',sans-serif;
}
section {
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  width: 100%;
  max-width:500px;
  padding: 10px;
}

h2{
  font-weight: 400;
  color:#333;
  font-size: 2em;
  line-height: 1.3;
  width: 75%;
}
span{
  color:#FF5A5F;
  display:block;
}

.search-box{
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 0 20px;
  box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25);
}
.fa{
  color: #dbdbdb;
  text-align: center;
  vertical-align: sub;
}
input[type="text"]{
  line-height: 30px;
  margin: 0;
  padding: 20px 0 ;
  border: 0;
  background: transparent;
  width: calc(100% - 120px);
  font-size: 20px;
  font-weight: 100;
}
input:focus{
  outline:none;
}
button{
  padding: 15px 25px;
  border-radius: 5px;
  background: #FF5A5F;
  color: white;
  border: 0;
  transition: all 0.2s ease-in-out;
}

button:hover{
  background-color: red;
  box-shadow: 0 0 10px 2px rgba(156, 160, 171, 0.25);
}

a {
  text-decoration: none;
  color : red;
}
.logo {
  color : red;
  font-size: 40px;
}